<!DOCTYPE html>
<html>
<head>
    <title>BF Manager</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <%-include('header')%>
    <div class="container">
        <%-include('parties')%>
        <%-include('tchat')%>
    </div>

</body>
<script type="module" src="js/eventsHandler.js"></script>
<script src="js/addPartyForm.js"></script>
<script src="js/deleteParty.js"></script>
<script src="js/endParty.js"></script>
<script type="module" src="js/tchatHandler.js"></script>
</html>
