<div class="tchat">
  <div class="tchat-header">
    <form id="new-tchat-user-form">
      <input
        type="text"
        placeholder="Enter your username..."
        id="new-tchat-input"
      />
      <button id="new-tchat-button" type="submit">Start</button>
    </form>
  </div>
  <div class="tchat-content">
    <div class="tchat-content-title">Tchat</div>
    <div class="tchat-content-username" id="username-display">Username</div>
    <div class="tchat-list">
      <!-- Messages will be appended here -->
    </div>
  </div>
  <div class="tchat-sender">
    <form id="tchat-message-form">
      <input
        type="text"
        placeholder="Enter your message..."
        id="new-message-input"
      />
      <button id="new-message-button" type="submit">Send</button>
    </form>
  </div>
</div>
