body {
    background-image: url("/images/baby-foot-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}
/* Parties CSS */
.header {
    background-color: #1c7fca;
    color: white;
    text-align: center;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.parties {
    background-color: rgba(33, 148, 194, 0.525);
    border: 1px solid black;
    width: 60%;
    margin-top: 30px;
    border-radius: 10px;
    padding: 25px;
}

.parties-header form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parties-header input {
    flex: 0.75;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-right: 10px;
    
}
.parties-header button {
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    flex: 0.20;
}

.parties-header button:hover {
    background-color: rgb(33, 148, 194);
    color: white;
    transition: 0.3s;
}

.parties-content {
    margin-top: 20px;
    position: relative;
    border: 1px solid black;
    border-radius: 30px;
    height: 300px;
    padding: 50px 30px 0px 30px;
}

.parties-list {
    height: 100%;
    overflow-y: auto;
}

.parties-content-title {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(33, 148, 194);
    width: 125px;
    position: absolute;
    text-align: center;
    left: 10px;
    top: -10px;
    color: white;
}

.parties-content-number {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(33, 148, 194);
    width: 20px;
    text-align: center;
    position: absolute;
    right: 0;
    top: -10px;
    color: white;
}

.party-item {
    padding: 10px;
    font-size: 20px;
}

.party-item span {
    color: red;
    cursor: pointer;
    margin-left: 30px;
}

/* Tchat CSS */

.tchat {
    background-color: rgba(33, 148, 194, 0.525);
    border: 1px solid black;
    width: 30%;
    margin-top: 30px;
    border-radius: 10px;
    padding: 25px;
}

.tchat-header form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tchat-header input {
    flex: 0.75;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 10px;
    
}
.tchat-header button {
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    flex: 0.20;
}

.tchat-header button:hover {
    background-color: rgb(33, 148, 194);
    color: white;
    transition: 0.3s;
}

.tchat-content {
    margin-top: 20px;
    position: relative;
    border: 1px solid black;
    border-radius: 30px;
    height: 300px;
    padding: 50px 30px 0px 30px;
}

.tchat-list {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.tchat-content-title {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(33, 148, 194);
    width: 50px;
    position: absolute;
    text-align: center;
    left: 10px;
    top: -10px;
    color: white;
}

.tchat-content-username {
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(33, 148, 194);
    width: fit-content;
    text-align: center;
    position: absolute;
    right: 0;
    top: -10px;
    color: white;
}

.tchat-item {
    margin-bottom: 10px ;
    font-size: 16px;
    color: rgb(241, 237, 237);
}

.tchat-item-content {
    max-width: 100%;
    padding: 10px;
    width: fit-content; 
    word-wrap: break-word;
    border-radius: 20px;
}

.tchat-item.left {
    align-self: flex-end;
}
.tchat-item.right {
    align-self: flex-start;
}

.tchat-item.left .tchat-item-content {
    background: #444444be;
    color: white;
}

.tchat-item.right .tchat-item-content {
    background: cornflowerblue;
    color: white;
}

.tchat-sender form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.tchat-sender input {
    flex: 0.75;
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 10px;
    
}
.tchat-sender button {
    padding: 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    flex: 0.20;
    background-color: rgb(33, 148, 194);
    color: white;
}
